@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme inline {
    --color-primary: var(--color-theme-primary);
    --color-secondary: var(--color-theme-secondary);
    --color-accent: var(--color-theme-accent);
}

:root {
    --color-theme-primary: #fff;
    --color-theme-secondary: #e9e9e9;
    --color-theme-accent: #dedede;
    @media (prefers-color-scheme: dark) {
        --color-theme-primary: #1b1b1b;
        --color-theme-secondary: #242424;
        --color-theme-accent: #3d3d3d;
    }
}

html {
    height: 100%;
    overflow: hidden;
}

* {
    overscroll-behavior-y: none;
}

body {
    overscroll-behavior-y: none;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.frost {
    backdrop-filter: blur(10px);
}

.fade-enter-active,
.fade-exit-active {
    transition:
        opacity 0.3s,
        transform 0.3s;
}
.fade-enter,
.fade-exit-to {
    opacity: 0;
}
.fade-enter {
    opacity: 1;
}
